---
http_interactions:
- request:
    method: get
    uri: https://api.steampowered.com/IDOTA2Fantasy_570/GetPlayerOfficialInfo/V001/?accountid=70388657&key=<STEAM_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"result\": {\n\t\t\"Name\": \"Dendi\",\n\t\t\"TeamName\": \"Natus
        Vincere\",\n\t\t\"TeamTag\": \"Na`Vi\",\n\t\t\"Sponsor\": \"DCE\",\n\t\t\"FantasyRole\":
        1\n\t}\n}"
  recorded_at: Mon, 23 Mar 2015 22:32:37 GMT
recorded_with: VCR 2.9.3
